@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.layout {
  display: flex;
  min-height: 100vh;
  background: $gray-50;
}

.main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
